pkgbase = rbw-pinentry-keyring
	pkgdesc = pinentry-keyring script for rbw
	pkgver = 1.12.1
	pkgrel = 1
	url = https://github.com/doy/rbw
	arch = any
	license = MIT
	depends = rbw
	source = rbw-pinentry-keyring-v1.12.1.tar.gz::https://github.com/doy/rbw/archive/refs/tags/1.12.1.tar.gz
	sha256sums = c564484f1054a85014b6b2a1fbade24d56b1b221dbac681c682ffaeba158b697

pkgname = rbw-pinentry-keyring
